<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <appender name="coralogix" class="com.coralogix.sdk.appenders.CoralogixLogbackAppender">
        <companyId>666</companyId>
        <privateKey>testKey</privateKey>
        <applicationName>travis-heroku</applicationName>
        <subsystemName>backend</subsystemName>
    </appender>
    <root level="info">
        <appender-ref ref="coralogix"/>
    </root>
</configuration>
