<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <appender name="coralogix" class="com.coralogix.sdk.appenders.CoralogixLogbackAppender">
        <companyId>666</companyId>
        <privateKey>testKey</privateKey>
        <applicationName>testApp</applicationName>
        <subsystemName>backend</subsystemName>
    </appender>
    <root level="debug">
        <appender-ref ref="coralogix"/>
    </root>
</configuration>
